body {
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    color: #666;
    }

h1 {
    font-size: 3.4em;
    margin: 45px auto 30px auto;
    }

h2 {
    font-size: 1.8em;
    font-weight: bold;
    color: #F07C17;
    margin: 0 auto 30px 4px;
    }

p {
    font-size: 1.15em;
    line-height: 2em;
    padding: 0 4px;
    }

ul { 
    margin: 30px 10px 20px 10px;
    }

li {
    font-size: 1.2em;
    margin-top: 8px;
    }

aside {
    margin-top: 30px;
    padding: 30px 20px;
    }

.no-top-margin {
    margin-top: 0;
    }

.bordered {
    border: #999 solid 1px;
    }